<?xml version="1.0" ?>
<robot name="ros_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<link name="CameraBack_1">
  <inertial>
    <origin xyz="3.923572550745824e-07 2.7456535542369487e-07 0.03499999999999981" rpy="0 0 0"/>
    <mass value="0.003"/>
    <inertia ixx="0.000238" iyy="0.000194" izz="7.3e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.20901 -0.080605 -0.91" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ros_robot_description/meshes/CameraBack_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="paint_enamel_glossy_red_1"/>
  </visual>
  <collision>
    <origin xyz="0.20901 -0.080605 -0.91" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ros_robot_description/meshes/CameraBack_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="CameraBackMount" type="fixed">
  <origin xyz="-0.20901 0.080605 0.91" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="CameraBack_1"/>
</joint>

<joint name="CameraBack_optical_joint" type="fixed">
  <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  <parent link="CameraBack_1"/>
  <child link="CameraBack_link_optical"/>
</joint>

<link name="CameraBack_link_optical"> </link>

<gazebo reference="CameraBack_1">
        <sensor name="cameraBack" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>${visual_camera}</visualize>
            <update_rate>10</update_rate>

            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>200</far>
                </clip>
            </camera>
            
            <plugin name="camera_back_controller" filename="libgazebo_ros_camera.so">
                <cameraName>ros_robot/camera_back</cameraName>
                <frame_name>CameraBack_link_optical</frame_name>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            </plugin>
        </sensor>
</gazebo>

<gazebo reference="CameraBack_1">
  <material>Gazebo/Green</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
</gazebo>

</robot>
