<?xml version="1.0" ?>
<robot name="ros_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  
  <link name="imu_link">
    <visual name="imu_wamv_visual">
      &gt;
      <geometry>
        <box size="0.05 0.025 0.005"/>
      </geometry>
      <material name="visual_material">
        <color rgba="1.0 0.0 00 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.000083" ixy="0.0" ixz="0.0" iyy="0.000083" iyz="0.0" izz="0.0125"/>
    </inertial>
  </link>
  
  <joint name="imu_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>

  <joint name="magnometer_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="imu_link"/>
    <child link="magnometer_link"/>
  </joint>
  <link name="magnometer_link"> </link>

  <gazebo>
    <plugin filename="libhector_gazebo_ros_imu.so" name="imu_plugin">
      <updateRate>100</updateRate>
      <bodyName>imu_link</bodyName>
      <topicName>sensors/imu/data</topicName>
      <serviceName>sensors/imu_service</serviceName>
      <!-- Manually prepend namespace to tf frame. -->
      <frameId>imu_link</frameId>
      <alwaysOn>true</alwaysOn>
      <accelOffset>0.0 0.0 0.0</accelOffset>
      <accelDrift>0.0 0.0 0.0</accelDrift>
      <accelDriftFrequency>0.00027 0.00027 0.000027</accelDriftFrequency>
      <accelGaussianNoise>0.0 0.0 0.0</accelGaussianNoise>
      <rateOffset>0.0 0.0 0.0</rateOffset>
      <rateDrift>0.0 0.0 0.0</rateDrift>
      <rateDriftFrequency>0.00027 0.00027 0.000027</rateDriftFrequency>
      <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>
      <yawOffset>0.0</yawOffset>
      <yawDrift>0.0</yawDrift>
      <yawDriftFrequency>0.00027</yawDriftFrequency>
      <yawGaussianNoise>0.0</yawGaussianNoise>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="libhector_gazebo_ros_magnetic.so" name="magnetometer">
      <updateRate>20.0</updateRate>
      <bodyname>magnometer_link</bodyname>
      <topicName>sensors/magnometer</topicName>
      <referenceHeading>72.0</referenceHeading>
      <magnitude>5.7065E-5</magnitude>
      <declination>12.3</declination>
      <inclination>64.2</inclination>
      <offset>0 0 0</offset>
      <driftFrequency>0 0 0</driftFrequency>
      <gaussianNoise>0 0 0</gaussianNoise>
    </plugin>
  </gazebo>
</robot>
