<?xml version="1.0" ?>
<robot name="ros_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<link name="CameraArm_1">
  <inertial>
    <origin xyz="0.0032135726825279765 2.2141618967422283e-05 0.0038301783339352857" rpy="0 0 0"/>
    <mass value="0.003"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.579297 -0.113045 -0.741936" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ros_robot_description/meshes/CameraArm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="paint_enamel_glossy_red_1"/>
  </visual>
  <collision>
    <origin xyz="-0.579297 -0.113045 -0.741936" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://ros_robot_description/meshes/CameraArm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="CameraArmMount" type="fixed">
  <origin xyz="0.020679 0.000144 0.0192" rpy="0 0.523599 0"/>
  <parent link="L6_1"/>
  <child link="CameraArm_1"/>
</joint>

<joint name="CameraArm_optical_joint" type="fixed">
  <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  <parent link="CameraArm_1"/>
  <child link="CameraArm_link_optical"/>
</joint>

<link name="CameraArm_link_optical"> </link>

<gazebo reference="CameraArm_1">
        <sensor name="cameraArm" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>${visual_camera}</visualize>
            <update_rate>10</update_rate>

            <camera>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>200</far>
                </clip>
            </camera>
            
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>CameraArm_link_optical</frame_name>
                <imageTopicName>image_raw/camera_Arm</imageTopicName>
                <cameraInfoTopicName>camera_info/camera_Arm</cameraInfoTopicName>
            </plugin>
        </sensor>
</gazebo>

<gazebo reference="CameraArm_1">
  <material>Gazebo/Green</material>
  <mu1>0.2</mu1>
  <mu2>0.2</mu2>
  <selfCollide>true</selfCollide>
</gazebo>

</robot>
