<launch>

<rosparam file="$(find ros_robot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="ros_robot" args="JawL_position_controller JawR_position_controller L6_position_controller L5_position_controller L4_position_controller L3_position_controller L2_position_controller L1_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/ros_robot/joint_states"/>
</node>

</launch>